
.profile-pic-div{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}
.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload{
  margin: auto;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}
.photo{
    height: 100%;
    width: 100%;
}

.file{
    }

.uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    
}
.nodisplay{
  display: none;
}
.card{
 background-color: #f4f3f3;
 
 height: 80%;
 max-width: 40%;
 min-width: 40%;
 margin-top: 10px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
}
.cardmargin{
 background-color: #f4f3f3;
 
 
 max-width: 40%;
 min-width: 40%;
 margin-top: 5%;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
}
.minheight{
  min-width: 75%;
  max-width: 75%;
}
.buttonflex{
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  max-width: 60%;
  margin-bottom: 10px;
}
.buttonflex:hover {
  background-color: transparent;
  color: red;
  border-radius: 1px solid red;
}
.card-background{
 background: linear-gradient(to right, #009688, #4CAF50);
 object-fit: cover;
 width: 100%;
 height: 50%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.card-background-margin{
 background: linear-gradient(to right, #009688, #4CAF50);
 object-fit: cover;
 width: 100%;
 height: 40%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.card-image{
 border-radius: 50%;
 width: 120px;
 height: auto;
 position: relative;
 top: 100px;
 border: 6px solid #f4f3f3;
}
.maxheight{
  width: 100%;
}
.card-info{
  padding: 10px;
  margin-top: 15%;

}
.card-info input{
  border:none;
}
.card-info-margin{
  padding: 10px;
  margin-top: 15%;

}
.para-fullwidth{
  width: 100%;
}
.para-seven{
  width: 80%;
}
.card-info-margin button{
  
  margin-top: 15%;

}
.card-info input ,.card-info-margin input{
  background-color: transparent;
  border:none;

}
.card-info-margin input{
  width:70%;
}

.fab{
 color: grey;
 font-size: 24px;
 margin: 15px;
 cursor: pointer;
}

.fab:hover{
 color: #524b4b;
}

.card h1,.cardmargin h1{
 color: #009688; 
}

.card p,.cardmargin p{
 color: grey;
}
.page{
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}
.card-info .buttonflex {
  margin-top: 0%;
}
.container{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: pink;
  
}
.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;

}
.img-holder{
  margin: auto;
  max-width: 150px;
  max-height: 150px;
  min-height: 150px;
  min-width: 150px;
  border: 3px black solid;
  border-radius: 50%;
  position: relative;
  top: 60px;
  overflow: hidden;

}
.img{
  border-radius: 50%;
  object-fit: fill;
  max-width: 150px;
  height: 150px;

}
#input[type="file"] {
	display: none;
}
.label{
  width: 100%;
  margin-top: 7rem;
  display: flex;
  justify-content: center;

}
.image-upload{
  margin: auto;
  width: 200px;
	height: 50px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}